body {body {
    background-color: rgb(189, 189, 241);
}
#img{
    width:500px;
    height: 320px;
    position: relative;
  
   border-radius: 25px;

}
#h1{
    text-align: center;
    color: purple;
}

#contact{
    color: rgb(122, 122, 240);
    text-align: center;
    position: relative;
    top: 100px;
}
.div{
place-items: center;
display: grid;
height:50vh;
}

