body {
    background-color: rgb(221, 221, 243);
}
#img{
    width:100x;
    height: 320px;
    position: relative;
   left: 650px;
   border-radius: 25px;
}
#h1{
    text-align: center;
    color: rgb(207, 0, 0);
}
